@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Aindrila's Website</s></h1>
    <p>To learn more about <a href="https://bcrec.ac.in/">bcrec</a>Please click here.</p>
</div>
